<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoxu.dao.IStorageDao">

    <update id="update" parameterType="map">
        update t_storage set used = #{count},residue = residue - #{count}
        where product_id = #{productId}
    </update>
</mapper>